{% extends "base_generic.html" %}
{% block content %}
    {% load static %}
    {% if user.is_authenticated %}
        <div style="width:100%; top:35%;position:absolute; text-align:center">
            <h1>Вопрос {{question.number}}/{{task.question_set.count}}</h1>
            <h2>{{question.title}}</h2>
            {% if question.image %}
            <img src="{{ MEDIA_URL }}{{ question.image.url }}" height="250px" width="250px" style="top:0%;right:20%; position:absolute">
            {% endif %}
            <form action="/task/{{ task.id }}/question/{{ question.number }}/" method="post">
                {% csrf_token %}
                <div style="text-align:left;font-size:large;display: inline-block;">
                <tr name="answer">
                {% if question.type == 'open_answer' %}
                    <td><input type="text" name="answer" id="answer"></td>
                {% else %}
                {% for answer in question.answer_set.all %}
                    {% if question.type == 'single_answer' %}
                        <td><input type="radio" name="answer_id" id="answer{{ forloop.counter }}" value="{{ answer.id }}" />
                    {% else %}
                        <td><input type="checkbox" name="answer_id" id="answer{{ forloop.counter }}" value="{{ answer.id }}" />
                    {% endif %}
                    <label for="answer{{ forloop.counter }}">{{ answer.text }}</label><br />
                {% endfor %}
                {% endif %}
                </td>
                </div>
                <br>
                <br>
                <br>
                <input id="task_result_id" type="hidden" name="task_result_id" value="{{ task_result_id }}">
                <input type="submit" value="Ответить" />
            </form>
        </div>
    {% endif %}
{% endblock %}