{% extends "base_generic.html" %}

{% block content %}
    <div style="top:40%; display:block;position:absolute; width:100%;">
        <h2 style="text-align:center">ИНСТРУКЦИЯ К ЛОТО</h2>
        <p style="padding:0%20%">Лото состоит из двух полей – левое и правое, на которых находится информация.</p>
        <p style="padding:0%20%">Цель: Открыть левое поле, собрать все верные равенства.</p>
        <p style="padding:0%20%">Шаги:
        <ol style="padding:0%25%">
            <li> На левом поле выбрать квадратик с информацией и кликнуть по нему левой кнопкой мыши.
            <li> На правом поле выбрать квадратик с такой информацией, чтобы в результате получилось верное равенство. Если равенство, составленное из двух частей левого и правого поля верно, то информация на полях исчезает, при этом квадратики меняют цвет поля.
            <li> См. шаг 1.
        </ol>
        <a href="{% url 'menu' %}" class="bot8">Вернуться в меню</a>
    </div>
{% endblock %}