{% extends "base_generic.html" %}

{% block loadUnity %}
    {% block extrahead %}
    {% load static %}
    <script src="{% static 'TemplateData/UnityProgress.js' %}"></script>
    <script src="{% static 'MathPuzzleLvl2/Build/UnityLoader.js' %}"></script>
    <script>
       var unityInstance = UnityLoader.instantiate("unityContainer", "{% static 'MathPuzzleLvl2/Build/MathPuzzleLvl2.json' %}", {onProgress: UnityProgress});
    </script>
    {% endblock extrahead %}
{% endblock %}

{% block body %}{% load static %}<body background="{% static 'TemplateData/game_background.png' %}">{% endblock %}

{% block content %}
{% load static %}
    {% if user.is_authenticated %}

    <div class=menu>
        <a href="{% url 'menu' %}" class=blubtn>Меню</a>
    </div>
    <div class=right>
        <a href="{% url 'lvl4' %}" class="bot8">Тригонометрия</a>
    </div>
    <div class=left>
        <a href="{% url 'lvl2' %}" class=bot8>Формулы</a>
    </div>
    <div style="top:77.5%; width:100%;text-align:center; position:absolute;display:inline">
        <a href="{% url 'instruction' %}" class="blubtn" style="width:150px">Инструкция к лото</a>
    </div>
    <div class="webgl-content">
      <div id="unityContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
        <div class="title">MathPuzzle</div>
      </div>
    </div>
    {% endif %}
</body>
{% endblock %}
