{% extends "base_generic.html" %}


{% block content %}
    <div style="top:45%;left: 25%;position: absolute; display:inline">
        <a href="{% url 'lvl1' %}" class=bot8 style="width:150px">Площади</a>
    </div>
    <div style="top:45%; left: 39%;position:absolute; display:inline">
        <a href="{% url 'lvl2' %}" class=bot8 style="width:150px">Лото: "Формулы"</a>
    </div>
    <div style="top:45%;right:39%;position:absolute; display:inline">
        <a href="{% url 'lvl3' %}" class=bot8 style="width:150px">Лото: "Степени"</a>
    </div>
    <div style="top:45%;right:25%;position:absolute; display:inline">
        <a href="{% url 'lvl4' %}" class=bot8 style="width:150px">Лото: "Тригонометрия"</a>
    </div>
    <div style="top:55%; width:100%; text-align:center ;position:absolute;display:inline">
        <a href="{% url 'instruction' %}" class="blubtn" style="width:150px">Инструкция к лото</a>
    </div>
    {% load static %}
    <div style="top:55%; left: 25%; position:absolute; display:inline">
        <a target="_blank" href="{% static 'docs/geometry-theory.pdf' %}" class="blubtn" style="width:150px">Справка по геометрии</a>
    </div>
    <div style="top:55%; right: 25%; position:absolute; display:inine">
        <a target="_blank" href="{% static 'docs/algebra-theory.pdf' %}" class="blubtn" style="width:150px">Справка по алгебре</a>
    </div>
    <div style="top:65%; width:100%; text-align:center;position:absolute;display:inline">
        <a target="_blank" href="{% static 'docs/function-theory.pdf' %}" class="blubtn" style="width:225px">Графики функций с решениями</a>
{% endblock %}