{% extends "base_generic.html" %}


{% block content %}
    <div style="text-align:right;margin:0% 1%">
        <a href="">{{user.get_full_name}}</a><a href="{% url 'logout' %}">(выйти)</a>
    </div>
    <div style="margin:25% 30%;position: absolute; display:inline">
        <a href="{% url 'lvl1' %}">Площади</a>
    </div>
    <div style="margin: 25% 50%;position:absolute; display:inline">
        <a href="{% url 'lvl2' %}">Формулы(первый уровень)</a>
    </div>
    <div style="margin: 25% 70%;position:absolute; display:inline">
        <a href="{% url 'lvl3' %}">Формулы(второй уровень)</a>
    </div>
{% endblock %}