{% extends "base_generic.html" %}


{% block content %}
    <div style="top:50%;left: 25%;position: absolute; display:inline">
        <a href="{% url 'lvl1' %}" class=bot8 style="width:150px">Площади</a>
    </div>
    <div style="top:50%; left: 39%;position:absolute; display:inline">
        <a href="{% url 'lvl2' %}" class=bot8 style="width:150px">Лото: "Формулы"</a>
    </div>
    <div style="top:50%;right:39%;position:absolute; display:inline">
        <a href="{% url 'lvl3' %}" class=bot8 style="width:150px">Лото: "Степени"</a>
    </div>
    <div style="top:50%;right:25%;position:absolute; display:inline">
        <a href="{% url 'lvl4' %}" class=bot8 style="width:150px">Лото: "Тригонометрия"</a>
    </div>
    <div style="top:60%; width:100%;text-align:center; position:absolute;display:inline">
        <a href="{% url 'instruction' %}" class="blubtn" style="width:150px">Инструкция к лото</a>
    </div>
{% endblock %}