{% extends "base_generic.html" %}
{% block content %}
    {% load static %}
    {% if user.is_authenticated %}
        {% if tasks_list %}
            <div style="left:35%; top:40%; position:absolute">
                <ul>
                    {% for task in tasks_list %}
                        <li>
                            <a href="/task/{{ task.id }}/question/1" class="bot8">{{ task.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Тесты не найдены.</p>
        {% endif %}
            <div style="top:45%; right:35%; position:absolute;display:inline">
                <a href="{% url 'menu' %}" class="blubtn" style="width:150px">Меню</a>
            </div>
    {% endif %}
{% endblock %}