<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | MathPuzzle</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">
    </head>
    <body>
	<div class="head">
	    <h2>Заголовок</h2>
	</div>
	<div style="text-align:right; margin: 5% 0%; position:absolute; width: 55%">
	    <p>Логин <input type="text" name="login" required></p>
	    <p>Пароль <input type="password" name=password requied></p>
	    <p>Повторите пароль <input type="password" name=confirmPassword requied></p>
	    <br>
	    <p>Имя <input type="text" name="firstName" requied></p>
	    <p>Фамилия <input type="text" name="lastName" requied></p>
	    <p>Класс
		<select style="width:14.5%">
		    <option>(выберите класс)</option>
		    <option>5</option>
   		    <option>6</option>
		    <option>7</option>
		    <option>8</option>
		    <option>9</option>
		    <option>10</option>
		</select>
	    </p>
	    <p>e-mail <input type="" name="eMail" requied></p>
	    <p><input type="submit" value="Отправить" onclick="document.location.href = 'game.html'">  <input type="reset" value="Очистить"></p>
        </div>
    </body>
</html>

