<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>MathPuzzle</title> {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% load static %}
    {% block loadUnity %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'TemplateData/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'TemplateData/style.css' %}">

</head>
{% block body %}<body background="{% static 'TemplateData/background.jpeg' %}" bgproperties="fixed">{% endblock %}
{% if user.is_authenticated %}
    <div class=exit>
        <a href="">{{user.get_full_name}}</a><a href="{% url 'logout' %}">(выйти)</a>
    </div>
{% endif %}
{% block content %}{% endblock %}
</body>
</html>