{% extends "base_generic.html" %}

{% block content %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class=login>
    <div>
		<h2>Вход в систему</h2>
	</div>
	<div>
		<p style="text-align: right; width: 30%; margin: 5% 27% 0%">
			<td>Логин:</td>
  			<td>{{ form.username }}</td>
		</p>
		<p style="text-align: right; width: 30%; margin: 0% 27%">
	   		<td>Пароль:</td>
  			<td>{{ form.password }}</td>
		</p>
	</div>
	<br>
	<input type="submit" value="Вход">
	<br>
	{% if form.errors %}
		<p font-color="#ff0000">Введен неправильный логин или пароль</p>
	{% endif %}
</div>
</form>
{% endblock %}

   
